*{
    background-color:  #f5f5f5;
    margin-inline: 0px;
    margin-top: 0px;;
    box-sizing: border-box;
}
.header{
    background-color: #011e29;
    font-weight: 600;
    font-size: 30px;
    padding-inline:10rem;
	text-align:center;
}
.header h2{
    background-color: #011e29;
    text-align: center;
    color:white;
}
.container{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin-inline: 5vw;
}
.pictorial-news-section img{
    width:20vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}
div .pictorial-news-section{
	text-align:center;
}
.pictorial-news-section h3{
    text-align: center;
}
.main{
    width:40vw;
    text-align: center;
    margin-right: 5vw;
}
.latest-news-section{
    width:30vw;
}